workflow.json
{
  "updatedAt": "2026-04-03T01:08:12.735Z",
  "createdAt": "2026-03-10T00:33:15.967Z",
  "id": "YOUR_WF1_WORKFLOW_ID",
  "name": "SMS Outreach (Outbound)",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## SMS Outreach (Outbound)\n\nRuns every 30 minutes, 9am\u20135pm NZT (NZDT).\n\n**What it does:**\n- Reads all leads from the Leads tab\n- Sends initial messages to new leads (cap: 25/run, 50/day)\n- Sends Followup 1 to leads where initial was delivered 3h+ ago, no reply\n- Sends Followup 2 to leads where F1 was delivered 21h+ ago, no reply\n- Writes PENDING to the timestamp column immediately after each send\n- Workflow 2 overwrites PENDING with confirmed timestamp on delivery, or clears it on failure\n- Waits 60s between each SMS to avoid rate limits\n\n**Why it exists:**\nAutomates the cold outreach cadence so the Mac doesn't need to stay on.",
        "height": 340,
        "width": 460,
        "color": 4
      },
      "id": "45172858-abfc-4f9a-b4ec-dbdecd21ac02",
      "name": "Workflow Description",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        64
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0,30 20-23 * * *"
            },
            {
              "field": "cronExpression",
              "expression": "0,30 0-4 * * *"
            }
          ]
        }
      },
      "id": "2e5a0949-7d63-456d-ae9a-0869634b6559",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        288,
        376
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "combineFilters": "AND",
        "options": {}
      },
      "id": "9b04c93a-215e-49cd-a2f5-c50a2864777c",
      "name": "Read Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        512,
        376
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const NZT_OFFSET = 12; // NZST (UTC+12) \u2014 DST ended April 6 2026\n\nfunction toNZTDateStr(date) {\n  const nzt = new Date(date.getTime() + NZT_OFFSET * 3600000);\n  return nzt.toISOString().slice(0, 10);\n}\n\nfunction parseNZTStr(s) {\n  // \"2026-03-10 09:00\" stored as NZT \u2014 parse back to UTC\n  if (!s || s === 'PENDING') return null;\n  const cleaned = s.trim().replace(' ', 'T');\n  return new Date(cleaned + ':00+12:00');\n}\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  const c = phone.replace(/[\\s\\-\\(\\)]/g, '');\n  if (c.startsWith('0')) return '+64' + c.slice(1);\n  if (c.startsWith('+64')) return c;\n  return null;\n}\n\nconst MESSAGE_TEMPLATES = {\n  'Residential': {\n    A: {\n      initial: \"Hi {name}, I help NZ agents auto-respond to Trade Me enquiries instantly, no missed leads when you're at an open home. Happy to set it up for free. Worth a chat? Brandon\",\n      f1: \"Hey {name}, just following up. If you're not already sorted with automated lead follow-up, happy to show you what it looks like. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how do you handle Trade Me enquiries when you're at an open home? Building something for NZ agents and curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Even a quick reply helps, genuinely curious how you're handling it. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  },\n  'Development': {\n    A: {\n      initial: \"Hi {name}, I help NZ development teams handle the enquiry flood at launch so no EOI gets dropped or left waiting. Happy to show you what it looks like. Worth a chat? Brandon\",\n      f1: \"Hey {name}, following up. If your next project launch means juggling buyer enquiries across the team, I can make that a lot smoother. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how do you keep track of buyer enquiries across a project launch? Building something for NZ development teams. Curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Happy to share what I'm building if you're curious. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  },\n  'Commercial': {\n    A: {\n      initial: \"Hi {name}, I help NZ commercial agents respond to serious enquiries faster so deals don't go cold while you're out with another client. Worth a chat? Brandon\",\n      f1: \"Hey {name}, following up. If enquiry response time is ever a bottleneck, I've got something that could help. Happy to show you what it looks like. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how do you handle enquiries that come in while you're out with another client? Building something for NZ commercial agents. Curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Happy to share what I'm building if you've got 2 mins. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  },\n  'Property Management': {\n    A: {\n      initial: \"Hi {name}, I help NZ property managers cut hours off routine tenant and landlord comms like maintenance updates, rent reminders, that kind of thing. Happy to show you what it looks like. Worth a chat? Brandon\",\n      f1: \"Hey {name}, following up. If your team spends a lot of time on routine tenant messages, I've built something that handles it for you. Happy to show you what it looks like. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how much time does your team spend on routine tenant comms each week? Building something for NZ property managers. Curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Happy to share what I'm building for PM businesses. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  }\n};\n\nconst DAILY_CAP = 50;\nconst PER_RUN_CAP = 25;   // max new initial sends per run\nconst TOTAL_RUN_CAP = 25; // hard cap on total messages sent per run (initial + F1 + F2)\n\nconst now = new Date();\n\n// \u2500\u2500 Send window gate: Mon\u2013Fri 9:00am\u20134:30pm NZT only \u2500\u2500\nconst nztNow = new Date(now.getTime() + NZT_OFFSET * 3600000);\nconst nztHour = nztNow.getUTCHours();\nconst nztMinute = nztNow.getUTCMinutes();\nconst nztDay = nztNow.getUTCDay(); // 0=Sun, 1=Mon\u20265=Fri, 6=Sat\nconst isWeekday = nztDay >= 1 && nztDay <= 5;\nconst afterStart = nztHour >= 9;\nconst beforeEnd = nztHour < 16 || (nztHour === 16 && nztMinute <= 30);\nif (!isWeekday || !afterStart || !beforeEnd) return [];\n\nconst todayNZT = toNZTDateStr(now);\nconst rows = $input.all();\n\n// Count today's initial sends \u2014 includes PENDING rows (attempted sends count toward daily cap)\nlet todaySentCount = 0;\nfor (const item of rows) {\n  const g = (item.json['Initial Sent'] || '').trim();\n  if (!g) continue;\n  if (g === 'PENDING') {\n    todaySentCount++;\n    continue;\n  }\n  try {\n    const sentDate = toNZTDateStr(parseNZTStr(g));\n    if (sentDate === todayNZT) todaySentCount++;\n  } catch(e) {}\n}\n\nconst remaining = Math.max(0, DAILY_CAP - todaySentCount);\nconst initialCap = Math.min(remaining, PER_RUN_CAP);\n\nconst queue = [];\n\n// --- Initial sends ---\nlet initialCount = 0;\nfor (const item of rows) {\n  if (initialCount >= initialCap) break;\n  const r = item.json;\n  const leadType = (r['Type'] || '').trim();\n  if (!MESSAGE_TEMPLATES[leadType]) continue;\n  const status = (r['Status'] || '').trim();\n  const g = (r['Initial Sent'] || '').trim();\n  if (g || status === 'Opted Out') continue;\n  const mobile = (r['Mobile'] || '').trim();\n  const phone = normalizePhone(mobile);\n  if (!phone) continue;\n  const name = ((r['Name'] || '').split(' ')[0]) || 'there';\n  const variant = Math.random() < 0.7 ? 'A' : 'B';\n  const templates = MESSAGE_TEMPLATES[leadType][variant];\n  queue.push({\n    name, phone_e164: phone, original_mobile: mobile,\n    message: templates.initial.replace('{name}', name),\n    ts_col_name: 'Initial Sent', msg_col_name: 'Initial Message',\n    variant\n  });\n  initialCount++;\n}\n\n// --- Followup 1 (3h+ after initial confirmed delivery) ---\nfor (const item of rows) {\n  const r = item.json;\n  const leadType = (r['Type'] || '').trim();\n  if (!MESSAGE_TEMPLATES[leadType]) continue;\n  const status = (r['Status'] || '').trim();\n  const g = (r['Initial Sent'] || '').trim();\n  const i = (r['F1 Sent'] || '').trim();\n  const replied = (r['Replied'] || '').trim();\n  if (!g || g === 'PENDING' || i || replied === 'TRUE' || status === 'Opted Out') continue;\n  const gTime = parseNZTStr(g);\n  if (!gTime) continue;\n  const hoursAgo = (now - gTime) / 3600000;\n  if (hoursAgo < 3) continue;\n  const mobile = (r['Mobile'] || '').trim();\n  const phone = normalizePhone(mobile);\n  if (!phone) continue;\n  const name = ((r['Name'] || '').split(' ')[0]) || 'there';\n  const variant = (r['Variant'] || 'A').trim();\n  const templates = MESSAGE_TEMPLATES[leadType][variant] || MESSAGE_TEMPLATES[leadType]['A'];\n  queue.push({\n    name, phone_e164: phone, original_mobile: mobile,\n    message: templates.f1.replace('{name}', name),\n    ts_col_name: 'F1 Sent', msg_col_name: 'F1 Message'\n  });\n}\n\n// --- Followup 2 (21h+ after F1 confirmed delivery) ---\nfor (const item of rows) {\n  const r = item.json;\n  const leadType = (r['Type'] || '').trim();\n  if (!MESSAGE_TEMPLATES[leadType]) continue;\n  const status = (r['Status'] || '').trim();\n  const i = (r['F1 Sent'] || '').trim();\n  const k = (r['F2 Sent'] || '').trim();\n  const replied = (r['Replied'] || '').trim();\n  if (!i || i === 'PENDING' || k || replied === 'TRUE' || status === 'Opted Out') continue;\n  const iTime = parseNZTStr(i);\n  if (!iTime) continue;\n  const hoursAgo = (now - iTime) / 3600000;\n  if (hoursAgo < 21) continue;\n  const mobile = (r['Mobile'] || '').trim();\n  const phone = normalizePhone(mobile);\n  if (!phone) continue;\n  const name = ((r['Name'] || '').split(' ')[0]) || 'there';\n  const variant = (r['Variant'] || 'A').trim();\n  const templates = MESSAGE_TEMPLATES[leadType][variant] || MESSAGE_TEMPLATES[leadType]['A'];\n  queue.push({\n    name, phone_e164: phone, original_mobile: mobile,\n    message: templates.f2.replace('{name}', name),\n    ts_col_name: 'F2 Sent', msg_col_name: 'F2 Message'\n  });\n}\n\nreturn queue.slice(0, TOTAL_RUN_CAP).map(item => ({ json: item }));"
      },
      "id": "d1bdb010-326f-41ca-a662-5f961b8da71c",
      "name": "Build Send Queue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        376
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "767801ac-8cd5-48c3-96cc-5cf6127a629d",
      "name": "Split Each Lead",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        960,
        376
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.textbee.dev/api/v1/gateway/devices/YOUR_TEXTBEE_DEVICE_ID/send-sms",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({\"recipients\": [$json.phone_e164], \"message\": $json.message}) }}",
        "options": {},
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "be0c251f-1cc7-4bbc-aeaf-c3fa0530c490",
      "name": "Send SMS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1184,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_TEXTBEE_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Textbee API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $('Split Each Lead').item.json;\nconst output = { Mobile: item.original_mobile };\noutput[item.ts_col_name] = 'PENDING';\noutput[item.msg_col_name] = item.message;\nif (item.variant) output['Variant'] = item.variant;\nreturn [{ json: output }];"
      },
      "id": "75f5580b-8949-4620-8801-2adc1fe8c907",
      "name": "Prepare Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        304
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SPREADSHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name",
          "cachedResultName": "Leads"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": [
            "Mobile"
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "0b4cf229-39e6-4643-a7b9-c5781bcdb781",
      "name": "Update Sent Record",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1632,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 60
      },
      "id": "af6dc229-ca4e-4769-8431-cee3c91117d7",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1856,
        376
      ],
      "webhookId": "b02d182d-6403-4690-b22e-b216572209ae"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Leads": {
      "main": [
        [
          {
            "node": "Build Send Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Send Queue": {
      "main": [
        [
          {
            "node": "Split Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Each Lead": {
      "main": [
        [],
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "Prepare Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Update": {
      "main": [
        [
          {
            "node": "Update Sent Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Sent Record": {
      "main": [
        [
          {
            "node": "Wait 60s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 60s": {
      "main": [
        [
          {
            "node": "Split Each Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "YOUR_WF1_VERSION_ID",
  "activeVersionId": "YOUR_WF1_VERSION_ID",
  "versionCounter": 151,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-10T00:33:15.969Z",
      "createdAt": "2026-03-10T00:33:15.969Z",
      "role": "workflow:owner",
      "workflowId": "YOUR_WF1_WORKFLOW_ID",
      "projectId": "YOUR_N8N_PROJECT_ID",
      "project": {
        "updatedAt": "2026-03-09T23:25:14.299Z",
        "createdAt": "2026-03-09T23:01:24.415Z",
        "id": "YOUR_N8N_PROJECT_ID",
        "name": "Your Name <your@email.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "YOUR_N8N_USER_ID"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-04-03T01:08:12.737Z",
    "createdAt": "2026-04-03T01:08:12.737Z",
    "versionId": "YOUR_WF1_VERSION_ID",
    "workflowId": "YOUR_WF1_WORKFLOW_ID",
    "nodes": [
      {
        "parameters": {
          "content": "## SMS Outreach (Outbound)\n\nRuns every 30 minutes, 9am\u20135pm NZT (NZDT).\n\n**What it does:**\n- Reads all leads from the Leads tab\n- Sends initial messages to new leads (cap: 25/run, 50/day)\n- Sends Followup 1 to leads where initial was delivered 3h+ ago, no reply\n- Sends Followup 2 to leads where F1 was delivered 21h+ ago, no reply\n- Writes PENDING to the timestamp column immediately after each send\n- Workflow 2 overwrites PENDING with confirmed timestamp on delivery, or clears it on failure\n- Waits 60s between each SMS to avoid rate limits\n\n**Why it exists:**\nAutomates the cold outreach cadence so the Mac doesn't need to stay on.",
          "height": 340,
          "width": 460,
          "color": 4
        },
        "id": "45172858-abfc-4f9a-b4ec-dbdecd21ac02",
        "name": "Workflow Description",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -208,
          64
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0,30 20-23 * * *"
              },
              {
                "field": "cronExpression",
                "expression": "0,30 0-4 * * *"
              }
            ]
          }
        },
        "id": "2e5a0949-7d63-456d-ae9a-0869634b6559",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          288,
          376
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "combineFilters": "AND",
          "options": {}
        },
        "id": "9b04c93a-215e-49cd-a2f5-c50a2864777c",
        "name": "Read Leads",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          512,
          376
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const NZT_OFFSET = 12; // NZST (UTC+12) \u2014 DST ended April 6 2026\n\nfunction toNZTDateStr(date) {\n  const nzt = new Date(date.getTime() + NZT_OFFSET * 3600000);\n  return nzt.toISOString().slice(0, 10);\n}\n\nfunction parseNZTStr(s) {\n  // \"2026-03-10 09:00\" stored as NZT \u2014 parse back to UTC\n  if (!s || s === 'PENDING') return null;\n  const cleaned = s.trim().replace(' ', 'T');\n  return new Date(cleaned + ':00+12:00');\n}\n\nfunction normalizePhone(phone) {\n  if (!phone) return null;\n  const c = phone.replace(/[\\s\\-\\(\\)]/g, '');\n  if (c.startsWith('0')) return '+64' + c.slice(1);\n  if (c.startsWith('+64')) return c;\n  return null;\n}\n\nconst MESSAGE_TEMPLATES = {\n  'Residential': {\n    A: {\n      initial: \"Hi {name}, I help NZ agents auto-respond to Trade Me enquiries instantly, no missed leads when you're at an open home. Happy to set it up for free. Worth a chat? Brandon\",\n      f1: \"Hey {name}, just following up. If you're not already sorted with automated lead follow-up, happy to show you what it looks like. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how do you handle Trade Me enquiries when you're at an open home? Building something for NZ agents and curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Even a quick reply helps, genuinely curious how you're handling it. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  },\n  'Development': {\n    A: {\n      initial: \"Hi {name}, I help NZ development teams handle the enquiry flood at launch so no EOI gets dropped or left waiting. Happy to show you what it looks like. Worth a chat? Brandon\",\n      f1: \"Hey {name}, following up. If your next project launch means juggling buyer enquiries across the team, I can make that a lot smoother. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how do you keep track of buyer enquiries across a project launch? Building something for NZ development teams. Curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Happy to share what I'm building if you're curious. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  },\n  'Commercial': {\n    A: {\n      initial: \"Hi {name}, I help NZ commercial agents respond to serious enquiries faster so deals don't go cold while you're out with another client. Worth a chat? Brandon\",\n      f1: \"Hey {name}, following up. If enquiry response time is ever a bottleneck, I've got something that could help. Happy to show you what it looks like. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how do you handle enquiries that come in while you're out with another client? Building something for NZ commercial agents. Curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Happy to share what I'm building if you've got 2 mins. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  },\n  'Property Management': {\n    A: {\n      initial: \"Hi {name}, I help NZ property managers cut hours off routine tenant and landlord comms like maintenance updates, rent reminders, that kind of thing. Happy to show you what it looks like. Worth a chat? Brandon\",\n      f1: \"Hey {name}, following up. If your team spends a lot of time on routine tenant messages, I've built something that handles it for you. Happy to show you what it looks like. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    },\n    B: {\n      initial: \"Hi {name}, quick one, how much time does your team spend on routine tenant comms each week? Building something for NZ property managers. Curious. Brandon\",\n      f1: \"Hey {name}, following up on my question. Happy to share what I'm building for PM businesses. Brandon\",\n      f2: \"Last one from me {name}. Happy to jump on a 10-min call to walk you through it. Otherwise no worries. Brandon\"\n    }\n  }\n};\n\nconst DAILY_CAP = 50;\nconst PER_RUN_CAP = 25;   // max new initial sends per run\nconst TOTAL_RUN_CAP = 25; // hard cap on total messages sent per run (initial + F1 + F2)\n\nconst now = new Date();\n\n// \u2500\u2500 Send window gate: Mon\u2013Fri 9:00am\u20134:30pm NZT only \u2500\u2500\nconst nztNow = new Date(now.getTime() + NZT_OFFSET * 3600000);\nconst nztHour = nztNow.getUTCHours();\nconst nztMinute = nztNow.getUTCMinutes();\nconst nztDay = nztNow.getUTCDay(); // 0=Sun, 1=Mon\u20265=Fri, 6=Sat\nconst isWeekday = nztDay >= 1 && nztDay <= 5;\nconst afterStart = nztHour >= 9;\nconst beforeEnd = nztHour < 16 || (nztHour === 16 && nztMinute <= 30);\nif (!isWeekday || !afterStart || !beforeEnd) return [];\n\nconst todayNZT = toNZTDateStr(now);\nconst rows = $input.all();\n\n// Count today's initial sends \u2014 includes PENDING rows (attempted sends count toward daily cap)\nlet todaySentCount = 0;\nfor (const item of rows) {\n  const g = (item.json['Initial Sent'] || '').trim();\n  if (!g) continue;\n  if (g === 'PENDING') {\n    todaySentCount++;\n    continue;\n  }\n  try {\n    const sentDate = toNZTDateStr(parseNZTStr(g));\n    if (sentDate === todayNZT) todaySentCount++;\n  } catch(e) {}\n}\n\nconst remaining = Math.max(0, DAILY_CAP - todaySentCount);\nconst initialCap = Math.min(remaining, PER_RUN_CAP);\n\nconst queue = [];\n\n// --- Initial sends ---\nlet initialCount = 0;\nfor (const item of rows) {\n  if (initialCount >= initialCap) break;\n  const r = item.json;\n  const leadType = (r['Type'] || '').trim();\n  if (!MESSAGE_TEMPLATES[leadType]) continue;\n  const status = (r['Status'] || '').trim();\n  const g = (r['Initial Sent'] || '').trim();\n  if (g || status === 'Opted Out') continue;\n  const mobile = (r['Mobile'] || '').trim();\n  const phone = normalizePhone(mobile);\n  if (!phone) continue;\n  const name = ((r['Name'] || '').split(' ')[0]) || 'there';\n  const variant = Math.random() < 0.7 ? 'A' : 'B';\n  const templates = MESSAGE_TEMPLATES[leadType][variant];\n  queue.push({\n    name, phone_e164: phone, original_mobile: mobile,\n    message: templates.initial.replace('{name}', name),\n    ts_col_name: 'Initial Sent', msg_col_name: 'Initial Message',\n    variant\n  });\n  initialCount++;\n}\n\n// --- Followup 1 (3h+ after initial confirmed delivery) ---\nfor (const item of rows) {\n  const r = item.json;\n  const leadType = (r['Type'] || '').trim();\n  if (!MESSAGE_TEMPLATES[leadType]) continue;\n  const status = (r['Status'] || '').trim();\n  const g = (r['Initial Sent'] || '').trim();\n  const i = (r['F1 Sent'] || '').trim();\n  const replied = (r['Replied'] || '').trim();\n  if (!g || g === 'PENDING' || i || replied === 'TRUE' || status === 'Opted Out') continue;\n  const gTime = parseNZTStr(g);\n  if (!gTime) continue;\n  const hoursAgo = (now - gTime) / 3600000;\n  if (hoursAgo < 3) continue;\n  const mobile = (r['Mobile'] || '').trim();\n  const phone = normalizePhone(mobile);\n  if (!phone) continue;\n  const name = ((r['Name'] || '').split(' ')[0]) || 'there';\n  const variant = (r['Variant'] || 'A').trim();\n  const templates = MESSAGE_TEMPLATES[leadType][variant] || MESSAGE_TEMPLATES[leadType]['A'];\n  queue.push({\n    name, phone_e164: phone, original_mobile: mobile,\n    message: templates.f1.replace('{name}', name),\n    ts_col_name: 'F1 Sent', msg_col_name: 'F1 Message'\n  });\n}\n\n// --- Followup 2 (21h+ after F1 confirmed delivery) ---\nfor (const item of rows) {\n  const r = item.json;\n  const leadType = (r['Type'] || '').trim();\n  if (!MESSAGE_TEMPLATES[leadType]) continue;\n  const status = (r['Status'] || '').trim();\n  const i = (r['F1 Sent'] || '').trim();\n  const k = (r['F2 Sent'] || '').trim();\n  const replied = (r['Replied'] || '').trim();\n  if (!i || i === 'PENDING' || k || replied === 'TRUE' || status === 'Opted Out') continue;\n  const iTime = parseNZTStr(i);\n  if (!iTime) continue;\n  const hoursAgo = (now - iTime) / 3600000;\n  if (hoursAgo < 21) continue;\n  const mobile = (r['Mobile'] || '').trim();\n  const phone = normalizePhone(mobile);\n  if (!phone) continue;\n  const name = ((r['Name'] || '').split(' ')[0]) || 'there';\n  const variant = (r['Variant'] || 'A').trim();\n  const templates = MESSAGE_TEMPLATES[leadType][variant] || MESSAGE_TEMPLATES[leadType]['A'];\n  queue.push({\n    name, phone_e164: phone, original_mobile: mobile,\n    message: templates.f2.replace('{name}', name),\n    ts_col_name: 'F2 Sent', msg_col_name: 'F2 Message'\n  });\n}\n\nreturn queue.slice(0, TOTAL_RUN_CAP).map(item => ({ json: item }));"
        },
        "id": "d1bdb010-326f-41ca-a662-5f961b8da71c",
        "name": "Build Send Queue",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          736,
          376
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "767801ac-8cd5-48c3-96cc-5cf6127a629d",
        "name": "Split Each Lead",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          960,
          376
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.textbee.dev/api/v1/gateway/devices/YOUR_TEXTBEE_DEVICE_ID/send-sms",
          "sendBody": true,
          "contentType": "raw",
          "rawContentType": "application/json",
          "body": "={{ JSON.stringify({\"recipients\": [$json.phone_e164], \"message\": $json.message}) }}",
          "options": {},
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "id": "be0c251f-1cc7-4bbc-aeaf-c3fa0530c490",
        "name": "Send SMS",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1184,
          304
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "YOUR_TEXTBEE_HEADER_AUTH_CREDENTIAL_ID",
            "name": "Textbee API Key"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const item = $('Split Each Lead').item.json;\nconst output = { Mobile: item.original_mobile };\noutput[item.ts_col_name] = 'PENDING';\noutput[item.msg_col_name] = item.message;\nif (item.variant) output['Variant'] = item.variant;\nreturn [{ json: output }];"
        },
        "id": "75f5580b-8949-4620-8801-2adc1fe8c907",
        "name": "Prepare Update",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          304
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "YOUR_SPREADSHEET_ID",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "Leads",
            "mode": "name",
            "cachedResultName": "Leads"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "matchingColumns": [
              "Mobile"
            ],
            "schema": []
          },
          "options": {}
        },
        "id": "0b4cf229-39e6-4643-a7b9-c5781bcdb781",
        "name": "Update Sent Record",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4,
        "position": [
          1632,
          304
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
            "name": "Google Sheets account"
          }
        }
      },
      {
        "parameters": {
          "amount": 60
        },
        "id": "af6dc229-ca4e-4769-8431-cee3c91117d7",
        "name": "Wait 60s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1856,
          376
        ],
        "webhookId": "b02d182d-6403-4690-b22e-b216572209ae"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Read Leads",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Leads": {
        "main": [
          [
            {
              "node": "Build Send Queue",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Send Queue": {
        "main": [
          [
            {
              "node": "Split Each Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Each Lead": {
        "main": [
          [],
          [
            {
              "node": "Send SMS",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send SMS": {
        "main": [
          [
            {
              "node": "Prepare Update",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Update": {
        "main": [
          [
            {
              "node": "Update Sent Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Sent Record": {
        "main": [
          [
            {
              "node": "Wait 60s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 60s": {
        "main": [
          [
            {
              "node": "Split Each Lead",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Your Name",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-04-03T01:08:12.790Z",
        "id": 205,
        "workflowId": "YOUR_WF1_WORKFLOW_ID",
        "versionId": "YOUR_WF1_VERSION_ID",
        "event": "activated",
        "userId": "YOUR_N8N_USER_ID"
      },
      {
        "createdAt": "2026-04-03T01:08:12.773Z",
        "id": 204,
        "workflowId": "YOUR_WF1_WORKFLOW_ID",
        "versionId": "YOUR_WF1_VERSION_ID",
        "event": "deactivated",
        "userId": "YOUR_N8N_USER_ID"
      }
    ]
  }
}
